<div class='cartbox'>
    <ul class="cart-items">
        <li class="cart-item" ng-repeat="(key,val) in itemsData">
            <div class="checked">
                <input type="checkbox" ng-checked="val.pitch" ng-click="pitch(key,$event)">

            </div>
            <a href="">
                <img ng-src="{{val.img}}" alt="">
            </a>
            <div class="cart-item-mess">
                <p class="cim-name">{{val.name}}</p>
                <p class="cim-price">￥{{val.price}}</p>
                <div class="cim-numbox">
                    <span class="cim-addnum" ng-click="joincart(val,false)">-</span>
                    <span class="cim-num">{{val.num}}</span>
                    <span class="cim-addnum" ng-click="joincart(val,true)">+</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="close-account">
        <label for="">
            <input type="checkbox" ng-checked="closeche" ng-click="every()">
            全选
        </label>
        <div class="zong">
            共：<span>￥{{totalPrices}}</span>
        </div>
        <div class="close-btn">
            选好了
        </div>
    </div>
</div>
